@media screen and (max-width: 1000px) {
  .maindiv {
    flex-direction: column;
    height: 80%;
    justify-content: center;
    align-items: center;
  }
}
.maindiv {
  display: flex;
  height: 80%;
  justify-content: space-around;
}
