@media screen and (max-width: 1000px) {
  .cards_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card_wrapper {
    height: 60vh !important;
    width: 70vw !important;
  }

  .details {
    font-size: 200% !important;
  }
}

@media screen and (orientation: landscape) {
  .cards_wrapper {
    flex-direction: row;
  }
}

.cards_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  margin-inline: 2rem;
  scroll-snap-align: start;
}

.card_wrapper {
  flex-grow: 1;
  height: 80vh;
  width: 33%;
  perspective: 3000px;
  transform: scale(0.85);
  cursor: pointer;
}

.card_wrapper_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 1000ms ease-in-out 100ms;
  transform-style: preserve-3d;
}

.card_image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  opacity: 1;
  transition: 1500ms ease-in-out;
}

.details {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  opacity: 0;
  background-color: rgba(210, 210, 210, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inconsolata";
  font-size: 300%;
  text-align: center;
  font-weight: 700;
  transform: rotateY(180deg);
  z-index: 5;
}

.card_wrapper:hover .card_wrapper_inner {
  transform: rotateY(180deg) translateX(-100%);
  transform-origin: center left;
}

.card_wrapper:hover .details {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  transition-delay: 600ms;
}

.card_wrapper:hover .card_image {
  opacity: 0.35;
}
