/* @media screen and (max-width: 1000px) {
  .navbar_elems {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}
*/
.navbar_elems {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  height: 10%;
  font-size: 150%;
  color: aliceblue;
}

.navbar_elems > img {
  filter: invert();
}
